* {
    padding: 0;
    margin: 0;
}

header {
   display: flex;
   justify-content: space-between;
}

#main-img img {
    width: 150px;
    height: 150px;
}

main {
    display: flex;
}

#ctn-page {
    margin: auto;
    width: 80%;  
}